@using WebShopNoUsers.Models
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model WebShopNoUsers.ViewModels.ShoppingCartViewModel

@foreach( var item in Model.Carts ) {
    <p>@item.ItemId - @item.Count, @item.Product.Translations.FirstOrDefault(x => x.Language == CultureInfo.CurrentUICulture.TwoLetterISOLanguageName).ProductName <a class="btn btn-primary" asp-action="RemoveFromCart" asp-route-id="@item.ItemId">@Localizer["Remove from cart"]</a></p>
}