@model IEnumerable<WebShopNoUsers.ViewModels.ProductViewModel>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-2">
        <h2>@Localizer[ "Our Products" ]</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        @foreach( var item in Model ) {
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>@Html.DisplayFor( modelItem => item.ProductName )</h4>
                    </div>
                    <div class="panel-body">
                        <img src="http://dummyimage.com/200/334455/fff.png" class="img-thumbnail center-block" />
                        <h4>@Html.DisplayNameFor( model => model.ProductPrice ): @Html.DisplayFor( modelItem => item.ProductPrice )</h4>
                        <h4>@Html.DisplayNameFor( model => model.ProductDescription ): @Html.DisplayFor( modelItem => item.ProductDescription )</h4>
                        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ProductId">@Localizer[ "Add to cart" ]</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-3">
        @await Component.InvokeAsync( "ShoppingCart" )
    </div>
</div>
