@model WebShopNoUsers.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice )
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor( model => model.ProductCategory )
        </dt>
        <dd>
            @Html.DisplayFor( model => model.ProductCategory.ProductCategoryName )
        </dd>
        <dt>
            Translations
        </dt>
        <dd>
            <p>
                @foreach( var item in ViewBag.Translations ) {
                    @item
                }
            </p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="AddTranslation" asp-route-id="@Model.ProductId">Add Translation</a> |
    <a asp-action="Index">Back to List</a>
</div>
